div.tab-pane.fade {
    display: none;
}

div.tab-pane.fade.active {
    display: block;
}

.outline {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #d8d8d8;
    border-bottom: 20px solid transparent;
    margin-top: -32px;
    margin-left: 100%;
    position: relative;
}

.arrow {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-left: 40px solid #f7f7f7;
    border-bottom: 20px solid transparent;
    margin-top: -40px;
    margin-bottom: -8px;
    margin-left: 99.5%;
    position: relative;
}

.nav-link {
    height: 100%;
    padding: 0.5rem 0rem !important;
    pointer-events: none;
}

.nav-tabs .nav-link.active > .arrow{
    border-left: 40px solid white !important;
}
